*{
    margin: 0;
    padding: 0;
}


.desafio1{
    color: rgb(73, 161, 80);
    padding: 10px;
    font-size: 20px;
    width: 500px;
    height: 100px;
    background-color: black;
}

#title {
    font-size: 50px;
    color: rgb(18, 30, 146)
}

#lista1{
    background-color: hsl(170, 35%, 53%);
    padding: 20px;
    width: 100px;
}


#lista2{
    background-color: rgb(77, 84, 87);
    padding: 20px;
    width: 100px;
  }
